/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


div.home_image {

}

div.buttons_home {
	text-align: right;
	margin-right: 10px;
	margin-top: ;
}


 .container {
	margin: 30px;
}

.navbar-text a {
	color: purple;
}

.details {
	font-size: 15px;
}

div.details_title {
	color: purple;
	font-size: 20px;
}

iframe {
	width: 700px;
	height: 250px;

}

body {
}

li.books {
	font-size: 20px;
}

iframe {
	margin-top: 15px;
}

div.guest_login {
	text-align: center;
}

div.coming_soon {
	text-align: center;
}

@media (max-width: 600px) {
	.home_image {
		display: none;
	}

	h1 {
		text-align: center;
	}

	h2 {
		text-align: center;
	}

	h3 {
		text-align: center;
	}

	.buttons_home {
		text-align: center;
	}

	.navbar-right {
		display: none;
	}

	div.book_image {
		display: none;
	}

	iframe {
		display: none;
	}

	div.details {
		font-size: 13px;
		text-align: center;
	}

	div.details_title {
		font-size: 15px;
		text-align: center;
	}

	div.details_form {
		text-align: center;
	}

	li.books {
		font-size: 14px;
	}

	div.coming_soon {
		display: none;
	}

}
