<div class="error">

<p><img src="http://www.catgifpage.com/gifs/230.gif"/></p>

<h1>Womp womp, it looks like that portal is broken. </h1>
<p><img src="http://1-ps.googleusercontent.com/h/www.catgifpage.com/gifs/242.gif.pagespeed.ce.OXUx1F6LDs.gif"/></p>
<br>
<h3><em>You can <%= link_to "search again", books_search_path %> or just look at cute cat gifs:</em></h3>
<br>
<p><img src="http://www.catgifpage.com/gifs/232.gif"/></p>

