<h1>Book Details page - this should show the title, author, image, and link to the book on Goodreads... or just show the Goodreads reviews</h1>
<br>

<%=  %>

<%= link_to "Search Books", polls_search_path %>

