<h1>New Poll</h1>
<%= render partial: "form" %>

<br>
<br>
Needs table of added books!
<br>
Add and delete buttons need to actually save to database.



<br>
<br>
-- back button to search for more books, needs to remember the poll id so they can go back to poll after searching 

<br>
<br>

<%= link_to "Search again", polls_search_path %>