<h1>Your Poll:</h1>

	<strong>Name: </strong><%= @poll.name %><br>

	<strong>Opens On: </strong><%= @poll.start_date %><br>

	<strong>Closes On: </strong><%= @poll.end_date %><br>

	<strong>Unique URL: </strong><%= @poll.url %><br>
