<div class="table_body">
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
			</tr>
		</thead>
		<tbody>
			<% @goodreads_data.each do |book| %>
			<tr>
				<td><%= link_to book[:title], books_details_path(book[:book_id]) %></td>
				<td><%= link_to book[:author], books_details_path(book[:book_id]) %></td>

				</tr>
				<% end %>
		</tbody>
	</table>
</div>