<h1>My Saved Books</h1>
<br>




<%= link_to "delete", @book, method: :delete, data: { confirm: "You sure?" } , :class => "btn btn-danger btn-xs" %>
<br>

<%= link_to "Create a Poll!", new_poll_path %>