<h1>My Saved Books</h1>
<br>

<%= render "/books/table" %>


<br>
<h3><%= link_to "Search Again", books_search_path %></h3>
<h3><%= link_to "Create a Poll", new_poll_path %></h3>
<h3><%= link_to "View all Polls", polls_path %></h3>