<h1>My Saved Books</h1>
<br>

<%= render "/books/table" %>


<br>
<h2><%= link_to "Search Books", books_search_path %></h2>
<h2><%= link_to "Create a Poll!", new_poll_path %></h2>
<h2><%= link_to "View all Polls", polls_path %></h2>