<h1>Search for a book...</h1>
<br>
<h2>...by title:</h2>
<form action="/books/results" method="get">
<input type="text" name="title" placeholder="ex: Harry Potter"/>
<input type="submit"/>
</form>
<br>

<h2>...or, by author:</h2>
<h4><em>Please omit symbols such as ', " / . </em></h4>
<form action="/books/results" method="get">
<input type="text" name="author" placeholder="ex: Rowling"/>
<input type="submit"/>
</form>