<h1>Search for a book:</h1>
<br>
<h2>...by title</h2>
<form action="/books/results" method="get">
<input type="text" name="title" placeholder="ex: Crime and Punishment"/>
<input type="submit"/>
</form>
<br>

<h2>or, by author:</h2>
<form action="/books/results" method="get">
<input type="text" name="author" placeholder="ex: Fyodor Dostoyevsky"/>
<input type="submit"/>
</form>