/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.main {
	text-align: center;
	z-index: 5;
	border: 5px solid black;
	margin: 15%;
	border-radius: 20px;
	position: relative;
	background-color: #108a93;
}

/*div.maintext {
	 how to make this part solid but the background teal opaque??
}*/

#bg {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -5;
	position: relative;
}

#background_image {
	position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: 0;
}

div.background_image {
	background-image: url("/assets/wallpaperbook.jpg" alt="wallpaper") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.buttons_home {
	text-align: center;
	margin-right: 10px;
}

div.buttons_home p {
	padding: 10px;
	padding-right: 5px;
}


 .container {
	margin: 30px;
}

.navbar-text a {
	color: purple;
}

.details {
	font-size: 15px;
}

div.details_title {
	color: purple;
	font-size: 20px;
}

iframe {
	width: 700px;
	height: 250px;

}

body {
}

li.books {
	font-size: 20px;
}

iframe {
	margin-top: 15px;
}

div.guest_login {
	text-align: center;
}

div.coming_soon {
	text-align: center;
}

@media (max-width: 600px) {
	img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }

	h1 {
		text-align: center;
	}

	h2 {
		text-align: center;
	}

	h3 {
		text-align: center;
	}

	.buttons_home {
		text-align: center;
	}

	.navbar-right {
		display: none;
	}

	div.book_image {
		display: none;
	}

	iframe {
		display: none;
	}

	div.details {
		font-size: 13px;
		text-align: center;
	}

	div.details_title {
		font-size: 15px;
		text-align: center;
	}

	div.details_form {
		text-align: center;
	}

	li.books {
		font-size: 14px;
	}

	div.coming_soon {
		display: none;
	}

}
